*,::after,::before{box-sizing: border-box;margin: 0;padding: 0;
}
ol,ul{text-decoration: none;list-style: none;padding: 0;margin: 0;}
a{text-decoration: none;}
:root{
	--main-font:'Cinzel Decorative', cursive;
	--body-font:'Open Sans', sans-serif;
	--title-color: #D48521;

}
.title-block{font-family:var(--body-font);font-size: 14px;font-weight: 400;letter-spacing: 0.04em;color: var(--title-color);text-transform: uppercase;padding: 0;margin: 0;}
.heading-block{display: flex;gap: 10px;align-items: center;}
.heading-block .image-block{width: 30px;height: 30px;}


html{scroll-behavior: smooth;}
@media (min-width: 1400px)
{
	.container { max-width:1200px; }
}



/*HEADER START*/
header{background-color:#1B1E22;}
header .all-block{display: flex;justify-content: space-between;align-items:center;}
header .all-block .logo-block{width: 120px;}
header .all-block .logo-block img{object-fit: cover;width: 100%;}
header .all-block .menu-block .stellarnav .navbar{display: flex;gap:30px;align-items: center;}
header .all-block .menu-block .stellarnav .navbar li a{ position: relative; font-family: var(--body-font);font-size: 16px;font-weight: 400;line-height: 22px;color: #fff;padding: 30px 0;margin: 0;text-transform: uppercase;display: inline-block;}
header .all-block .menu-block .stellarnav .navbar li a.active{color: #EC9F3E;}
header .all-block .menu-block .stellarnav .navbar li a.active:after{ content: ""; position: absolute;height:2px;background: #EC9F3E;width: 100%;bottom: 0;left: 0;right: 0;}
header .all-block .booking-tab{transition: 0.3s ease}
header .all-block .booking-tab a{display: inline-block;font-family: var(--body-font);font-size: 16px;font-weight: 400;text-align: center;padding: 10px 20px;color: #fff;border: 1px solid #fff;border-radius: 2px;text-transform: uppercase;letter-spacing: 0.02em;}
header .all-block .booking-tab:hover{transform: scale(1.015);}
/*HEADER END*/

/* BANNER START */
.banner-section{position: relative;padding: 0;margin: 0;}
.banner-section .banner-image-block{width: 100%;height: 700px;}
.banner-section .banner-image-block img{width: 100%;height: 100%;object-fit: cover;}
.banner-section .desc{position: absolute;top: 0;left: 0;right: 0;bottom:0;height: 100%;width: 100%;display: flex;align-items: center;}
.banner-section .desc .text-block{width: 560px;text-align: left;}
.banner-section .desc .text-block .heading-block{display: flex;gap: 10px;align-items: center;padding-bottom: 24px;}
.banner-section .desc .text-block .heading-block .image-block{width: 30px;height: 30px;}
.banner-section .desc .text-block .heading-block .image-block img{width: 100%;height: 100%;object-fit: cover;}
.banner-section .desc .text-block .heading-block h3{font-family:var(--body-font);font-size: 14px;font-weight: 400;letter-spacing: 0.04em;color: var(--title-color);text-transform: uppercase;padding: 0;margin: 0;}
.banner-section .desc .text-block h1{font-family: var(--main-font);font-size: 70px;font-weight: 400;letter-spacing: 0.04em;color: #fff;padding: 0 0 40px 0;margin: 0;line-height: 90px;}
.banner-section .desc .text-block .button-block{display: flex;gap:15px;align-items: center;}
.banner-section .desc .text-block .button-block a{font-family: var(--body-font);font-size: 16px;font-weight: 400;letter-spacing: 0.02em;color:#0A0B0D;background-color: #E8E8E8;box-shadow: 0px 11px 28px 0px #00000040;border-radius: 2px;padding: 10px 25px;margin: 0;text-transform: uppercase;}
.banner-section .desc .text-block .button-block a:last-child{background: none;border: 1px solid #E8E8E8;color: #fff;}
/* BANNER END */

/* MENU SECTION START */
.menu-section{background-color: #1C1E23;padding: 120px 0;margin: 0;}
.menu-section .box{height: 260px;border-radius: 4px;position: relative;overflow: hidden; }
.menu-section .box .bg-image-block .img-fluid {width: 100%;height: 100%;object-fit: cover;}
.menu-section .box .text{position: absolute;top: 5px;left: 0;right: 0;text-align: center;width: calc(100% - 15px);height: calc(100% - 15px);display: flex;flex-direction: column;justify-content: center;margin: 0 auto;background: rgba(0, 0, 0, 0.53);border-radius: 4px;}
.menu-section .box .text .image-block{width: 52px;height: 52px;display: flex;justify-content: center;align-items: center;margin: 0 auto;}
.menu-section .box .text h3{font-family: var(--body-font);font-size: 24px;font-weight: 400;line-height: 70px;letter-spacing: 0.02em;color: #fff;text-transform: capitalize;padding: 0;margin: 0;}
/* MENU SECTION END */

/* ABOUT US SECTION START */
.about-us-section{padding:0 0 70px 0;background-color: #1C1E23;margin: 0;}
.about-us-section .all-block{display: flex;gap: 45px;align-items: center;}
.about-us-section .all-block .left-block{width: 60%;}
.about-us-section .all-block .left-block .text-block h1{font-family: var(--main-font);font-size: 40px;font-weight: 400;line-height: 60px;letter-spacing: 0.04em;color: #fff;padding: 18px 0 0 0;margin: 0;}
.about-us-section .all-block .left-block .text-block p{font-family: var(--body-font);font-size: 16px;font-weight: 300;line-height: 26px;letter-spacing: 0em;padding: 12px 0 25px 0;color: #DADADA;}
.about-us-section .all-block .left-block .testionial-block{display: flex;align-items: center;justify-content: space-between;gap: 15px;}
.about-us-section .all-block .left-block .testionial-block .block{padding: 16px 21px;background:rgba(0, 0, 0, 0.24);box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12);border-radius: 8px;margin: 0;display: flex;align-items: center;gap: 10px;flex-wrap: wrap;}
.about-us-section .all-block .left-block .testionial-block .block .person-image-block{width: 74px;height: 74px;border-radius: 50%;overflow: hidden;display: flex;justify-content: center;align-items:flex-end;background: #D9D9D9;}
.about-us-section .all-block .left-block .testionial-block .block .person-image-block img{width: auto;height: auto;object-fit: contain;}
.about-us-section .all-block .left-block .testionial-block .block p{font-family: var(--body-font);font-size: 14px;font-style: italic;font-weight: 300;line-height: 20px;letter-spacing: 0.04em;color: #FFA737;width: calc(100% - 84px);margin: 0;}
.about-us-section .all-block .right-block{width: 35%;	}
.about-us-section .all-block .right-block .image-block{width: 100%;height: 100%;}
@keyframes movement{
	0%{transform: translateY(0);}
	50%{transform: translateY(10px)}
	100%{transform: translateY(-20px)}
}
.about-us-section .all-block .right-block .image-block{animation: movement 4s linear infinite alternate;}
/* ABOUT US SECTION END */

/* CHOOSE BEST COFFEE SECTION START */
.best-coffee-section{background: #090C0F;padding: 124px 0 115px 0;margin: 0;}
.best-coffee-section .title{text-align: center;padding: 0 0 95px 0;}
.best-coffee-section .title .heading-block{justify-content: center;}
.best-coffee-section .title h2{font-family:var(--main-font);font-size: 40px;font-weight: 400;line-height: 60px;letter-spacing: 0.04em;color: #fff;padding: 22px 0 0 0;margin: 0;}
.best-coffee-section .block{display: flex;align-items: center;gap: 30px;padding: 0 0 65px 0;}
.best-coffee-section .col-lg-6:nth-of-type(5) .block{padding: 0;}
.best-coffee-section .col-lg-6:nth-of-type(6) .block{padding: 0;}
.best-coffee-section .block .image-block{width: 160px;height: 160px;border-radius: 8px;overflow: hidden;}
.best-coffee-section .block .image-block img{width: 100%;height: 100%;object-fit: cover;}
.best-coffee-section .block .text-block h3{font-family: var(--main-font);font-size: 25px;font-weight: 400;letter-spacing: 0.02em;color: #fff;padding: 0;margin: 0;}
.best-coffee-section .block .text-block p{font-family:var(--body-font);font-size: 16px;font-weight: 400;letter-spacing: 0.02em;color:#8B8B8B;padding: 7px 0 45px 0;margin: 0;}
.best-coffee-section .block .text-block span{font-family: var(--main-font);font-size: 20px;font-weight: 700;letter-spacing: 0.02em;color:#FFB353;padding: 0;margin: 0;display: flex;gap:5px;align-items: center;}
.best-coffee-section .block .text-block span ins{border: 1px dashed #FFB353;width: 200px;}
/* CHOOSE BEST COFFEE SECTION END */

/* WHY CHOOSE US SECTION START */
.why-choose-us{background: #1C1E23;padding: 130px 0;margin: 0;}
.why-choose-us .all-blocks{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.why-choose-us .all-blocks .left-block{width: 40%;}
.why-choose-us .all-blocks .left-block .image-block{width: auto;height: auto;overflow: hidden;border-radius: 3px;}
.why-choose-us .all-blocks .left-block .image-block img{width: 100%;height: 100%;object-fit: cover;}
.why-choose-us .all-blocks .right-block{width: 55%;}
.why-choose-us .all-blocks .right-block .text-block{padding: 28px 0;margin: 0;}
.why-choose-us .all-blocks .right-block .text-block h1{font-family:var(--main-font);font-size: 40px;font-weight: 400;line-height: 60px;letter-spacing: 0.04em;color: #fff;padding: 0 0 19px 0;margin: 0;}
.why-choose-us .all-blocks .right-block .text-block p{font-family: var(--body-font);font-size: 16px;font-weight: 300;line-height: 26px;letter-spacing: 0em;color: #E3E1E1;padding: 0;margin: 0;}
.why-choose-us .all-blocks .right-block .desc{padding: 0 0 32px 0;max-width: 375px;}
.why-choose-us .all-blocks .right-block .desc .icon-block{display: flex;gap: 24px;align-items: center;padding: 0 0 19px 0;}
.why-choose-us .all-blocks .right-block .desc .icon-block .icon-image{width: 50px;}
.why-choose-us .all-blocks .right-block .desc .icon-block .icon-image img{width: 100%;height: 100%;object-fit: cover;}
.why-choose-us .all-blocks .right-block .desc .icon-block .text{width: calc(100% - 74px);}
.why-choose-us .all-blocks .right-block .desc .icon-block .text h3{	font-family: var(--body-font);font-size: 24px;font-weight: 400;line-height: 33px;letter-spacing: 0.04em;color: #fff;padding: 0 0 5px 0;margin: 0;text-transform: capitalize;}
.why-choose-us .all-blocks .right-block .desc .icon-block .text p{font-family: var(--body-font);font-size: 16px;font-weight: 300;line-height: 26px;letter-spacing: 0em;color: #B4B4B4;padding:0;margin: 0;}
/* WHY CHOOSE US SECTION END */

/*CUSTOMER FEEDBACK SECTION START  */
.customer-feedback-section{background: #1C1E23;padding: 0 0 116px 0;margin: 0;}
.customer-feedback-section .title{text-align: center;}
.customer-feedback-section .title .heading-block{justify-content: center;}
.customer-feedback-section .title h2{font-family: var(--main-font);font-style: normal;font-weight: 400;font-size: 40px;line-height: 60px;color: #fff;padding: 28px 0 57px 0;margin: 0;}
.customer-feedback-section .slider .box{padding: 77px 36px 43px 30px;margin: 0 15px;background: #15171B;box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25);position: relative;overflow: visible;}
.customer-feedback-section .slider .box .image-block{width: 92px;height: 92px;position: absolute;bottom:calc(100% - 45px);left: calc(50% - 45px);border-radius: 50%;background-color: #fff;overflow: hidden;z-index: 99;}
.customer-feedback-section .slider .box .image-block img{width: 100%;height: 100%;object-fit: cover;}
.customer-feedback-section .slider .box .icons{display: flex;justify-content: center;align-items: center;gap:12px;}
.customer-feedback-section .slider .box .text{text-align: center;}
.customer-feedback-section .slider .box .text p{font-family: var(--body-font);font-style: normal;font-weight: 300;font-size: 16px;line-height: 26px;color: #CECECE;padding: 33px 0 22px 0;margin: 0;}
.customer-feedback-section .slider .box .name-block{text-align: center;}
.customer-feedback-section .slider .box .name-block h4{font-family: var(--body-font);font-style: normal;font-weight: 600;font-size: 20px;line-height: 27px;letter-spacing: 0.04em;color: #FFFFFF;padding: 0 ;margin: 0;}
.customer-feedback-section .slider .box .name-block p{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 16px;line-height: 22px;letter-spacing: 0.04em;color: #D48521;padding: 4px 0 0 0;margin: 0;}
.customer-feedback-section .slider .slick-dots{display: flex;align-items: center;justify-content: center;gap: 13px;padding: 60px 0 0 0;}
.customer-feedback-section .slider .slick-dots li button{width: 11px;height: 11px;border-radius: 50%;background-color: #fff;border: none;font-size: 0;}
.customer-feedback-section .slider .slick-dots .slick-active button{background: #D48521;}
.customer-feedback-section .slider button.slick-next{background:url(../images/right-arrow.png) transparent;width:45px;height: 45px;border: none;position: absolute;right: -112px;top: calc(50% - 45px);background-repeat: no-repeat;}
.customer-feedback-section .slider button.slick-prev{background:url(../images/left-arrow.png) transparent;width:45px;height: 45px;border: none;position: absolute;left: -112px;top: calc(50% - 45px);background-repeat: no-repeat;	}
.customer-feedback-section .slider .slick-slide{padding: 50px 0 0 0;}
/*CUSTOMER FEEDBACK SECTION END  */

/* RECORD SECTION START */
.record-section{padding: 38px 0;margin: 0;background: #15171B;box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25);}
.record-section .all-blocks{display: flex;justify-content: space-between;align-items: center;}
.record-section .all-blocks .block{display: flex;align-items: center;gap: 6px;}
.record-section .all-blocks .block h2{font-family: var(--main-font);font-style: normal;font-weight: 400;font-size: 55px;letter-spacing: 0.04em;color: #D48521;padding: 0;margin: 0;}
.record-section .all-blocks .block .desc h4{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 24px;line-height: 33px;letter-spacing: 0.04em;color: #FFFFFF;padding: 0 0 5px 0;margin: 0;text-transform: capitalize;}
.record-section .all-blocks .block .desc p{font-family: var(--body-font);font-style: normal;font-weight: 300;font-size: 16px;line-height: 26px;color: #B4B4B4;padding: 0;margin: 0;}
/* RECORD SECTION END */

/* BLOG SECTION START */
.blog-section{padding: 90px 0;margin: 0;background: #1C1E23;}
.blog-section .title{text-align: center;}
.blog-section .title .heading-block{justify-content: center;}
.blog-section .title h2{font-family: var(--main-font);font-style: normal;font-weight: 400;font-size: 40px;line-height: 60px;letter-spacing: 0.04em;color: #FFFFFF;padding: 28px 0 60px 0;margin: 0;}
.blog-section .block{background: rgba(0, 0, 0, 0.31);position: relative;}
.blog-section .block .image-block{width: 100%;height: 100%;}
.blog-section .block .image-block img{width: 100%;height:100%;object-fit: cover;}
.blog-section .block .text-block{position: absolute;max-width:265px;bottom: 21px;left: 21px;}
.blog-section .block .text-block h4{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 16px;line-height: 22px;letter-spacing: 0.04em;color: #FFFFFF;padding: 0 0 12px 0;margin: 0;}
.blog-section .block .text-block .bottom-block{display: flex;justify-content: space-between;align-items: center;}
.blog-section .block .text-block .bottom-block .date-block{display: flex;gap:12px ;align-items: center;}
.blog-section .block .text-block .bottom-block .date-block .icon{width: 15px;}
.blog-section .block .text-block .bottom-block .date-block .icon img{width: 100%;object-fit: cover;}
.blog-section .block .text-block .bottom-block .date-block p{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 12px;line-height: 16px;letter-spacing: 0.04em;color: #BFBFBF;padding: 0;margin: 0;}
.blog-section .block .text-block .bottom-block .comment-block{display: flex;gap:12px ;align-items: center;}
.blog-section .block .text-block .bottom-block .comment-block .icon{width: 15px;}
.blog-section .block .text-block .bottom-block .comment-block .icon img{width: 100%;object-fit: cover;}
.blog-section .block .text-block .bottom-block .comment-block  p{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 12px;line-height: 16px;letter-spacing: 0.04em;color: #BFBFBF;padding: 0;margin: 0;}
/* BLOG SECTION END */

/* BOOOKING SECTION START */
.booking-section{padding: 65px 0;margin: 0;background: #15171B;border-top:1px solid #ffffff80 ;border-bottom:1px solid #ffffff80 ;}
.booking-section .title{text-align: center;}
.booking-section .title .heading-block{justify-content: center;}
.booking-section .title h2{font-family: var(--main-font);font-style: normal;font-weight: 400;font-size: 40px;line-height: 60px;text-align: center;letter-spacing: 0.04em;color: #FFFFFF;padding: 15px 0;}
.booking-section .button-block{display: flex;justify-content: center;align-items: center;}
.booking-section .button-block a{display: inline-block;padding: 16px 47px;background: #E8E8E8;box-shadow: 0px 24px 26px rgba(0, 0, 0, 0.25);border-radius: 2px;font-family: 'Open Sans';font-style: normal;font-weight: 400;font-size: 16px;text-align: center;letter-spacing: 0.02em;color: #0A0B0D;text-transform: uppercase;}
/* BOOOKING SECTION END */

/* FOOTER SECTION START */
footer{padding: 80px 0 132px 0;margin: 0;background: #1C1E23;}
footer .logo-block{width: 135px;}
footer .logo-block img{width: 100%;object-fit: cover;}
footer .text p{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 16px;line-height: 26px;letter-spacing: 0.04em;color: #BEBEBE;padding: 17px 0 24px 0;margin: 0;}
footer .social-media{display: flex;align-items: center;	gap: 30px;}
footer .social-media .image-block{width: 25px;border-radius: 50%;}
footer .social-media .image-block img{width: 100%;object-fit: cover;}
footer .heading h3{font-family: var(--body-font);font-style: normal;font-weight: 600;font-size: 24px;line-height: 26px;letter-spacing: 0.04em;color: #FFFFFF;padding: 0 0 25px 0;text-transform: capitalize;margin: 0;}
footer ul li h5{font-family:var(--body-font);font-style: normal;font-weight: 400;font-size: 16px;line-height: 27px;letter-spacing: 0.04em;padding: 0 0 5px 0;margin: 0;color:#E49623;text-transform: capitalize;}
footer ul li p{color:#fff ;margin: 0;padding: 0 0 10px 24px;font-family: 'Open Sans';font-style: normal;font-weight: 400;font-size: 16px;line-height: 27px;}
footer ul li:nth-of-type(3){padding: 0;}
footer ul li h5::before{content: "";width: 9px;height: 9px;border-radius: 50%;background-color: #D9D9D9;display: inline-block;margin-right: 15px;}
footer ul li a{color:#fff ;margin: 0;padding: 0 0 10px 24px;font-family: 'Open Sans';font-style: normal;font-weight: 400;font-size: 16px;line-height: 27px;}
/* FOOTER SECTION END */

/* COPYRIGHT SECTION START */
.copyright-section{padding: 0 0 18px 0;background: #1C1E23;}
.copyright-section .text{display: flex;justify-content: center;align-items: center;position: relative;}
.copyright-section .text p{font-family: var(--body-font);font-style: normal;font-weight: 400;font-size: 12px;line-height: 15px;color: #AEAEAE;padding: 15px 0 0 0;margin: 0;}
.copyright-section .text::before{content: "";position: absolute;top: 0;width: 100%;border-top: 1px solid #55565A;left: 0;right: 0;}




















/* COPYRIGHT SECTION END */

